@import "../../styles/variables";

.productListItem {
  position: relative;
  overflow: hidden;
  background-color: $background;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: $transition;
  box-shadow: $box-shadow-faint;

  &:hover {
    box-shadow: $box-shadow;

    .productListItemImage {
      transform: scale(1.07);
    }
  }

  .thumbnail {
    overflow: hidden;
    height: 370px;
    position: relative;
    text-align: center;
    background-color: #fbfbfb;

    .productListItemImage {
      width: auto;
      max-width: 100%;
      height: 100%;
      max-height: 400px;
      object-fit: contain;
      transition: $transition-slow;
    }
  }

  .productListItemLabel {
    padding: 20px 30px;

    > a {

      // h3 span {
      //   position: relative;
      // }

      // h3 span:before {
      //   position: absolute;
      //   bottom: 0;
      //   left: 0;
      //   right: 0;
      //   content: '';
      //   width: 0px;
      //   height: 2px;
      //   background: $text;
      //   transition: $transition-quick;
      //   transition-origin: center;
      //   opacity: .4;
      // }

      // &:hover h3 span:before {
      //   width: 100%;
      // }
      h3 {
        transition: $transition-quick;
      }

      &:hover {
        text-decoration: none;
        color: $text;

        h3 {
          opacity: .8;
        }
      }
    }

    .oldPrice {
      float: right;

      span {
        text-decoration: line-through;
        color: $text-secondary;
      }
    }

    .addToCart {
      margin: 10px auto;

      svg {
        margin-right: 6px;
      }
    }
  }
}

@media (max-width: 767px) {

  .col-12 {
    margin: auto;
  }
}