//    CSS BASED ANIMATION FOR CHANGING PAGES

body {

  // main,
  // aside {
  //   opacity: 0;
  //   animation: handle-opacity (2 * $transition-quick) forwards;
  // }

  // .productListItem {
  //   opacity: 0;
  //   animation: handle-opacity (1 * $transition) forwards;    
  // }
}

@keyframes handle-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeWrapper {
  position: relative;
}

.pageFade-enter {
  opacity: 0;
  z-index: 1;
}

.pageFade-enter.pageFade-enter-active {
  opacity: 1;
  transition: opacity $transition-quick ease-in;
}

.pageFade-exit {
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.pageFade-exit.pageFade-exit-active {
  opacity: 0;
  transition: opacity $transition-quick ease-out;
}