//  SIMPLE CSS BASED ANIMATION FOR CHANGING PAGES
//    => replaced with React Transition Group

// body {

  // main,
  // aside {
  //   opacity: 0;
  //   animation: handle-opacity (2 * $transition-quick) forwards;
  // }

  // .productListItem {
  //   opacity: 0;
  //   animation: handle-opacity (1 * $transition) forwards;    
  // }
// }

// @keyframes handle-opacity {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }


//    ANIMATIONS FOR REACT TRANSITION GROUP

//  container wrappers to keep proper margins

.fadeWrapper {
  position: relative;
}

.productListItemWrapper .fade-exit.fade-exit-active {
  margin: -15px 0;
}

//   animation itself

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity $transition-quick ease-in;
}

.fade-exit {
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity $transition-quick ease-out;
}