$primary: #fff;
$secondary: #bdbdbd;
$background: #f5f5f5;
$text: #333;
$text-secondary: #969696;
$active: #191919;
$promoted-item: #F55547;
$last-item: #227093;

//  TRANSITIONS

$transition: .35s;
$transition-quick: .2s;
$transition-slow: .6s;

// DETAILS

$box-shadow-faint: 0 3px 12px -7px rgba(0, 0, 0, 0.3);
$box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.3);
