@import "../../styles/variables";

.cartItem {
  height: 170px;
  line-height: 170px;
  width: 100%;
  vertical-align: middle;
  border-bottom: 2px solid $background;

  &:hover {
    background-color: $background;
  }

  .cell {
    height: 100%;
    // max-height: 180px;

    a {

      &:hover {
        text-decoration: none;
        color: $text;

        h3 {
          opacity: .8;
        }
      }

      &:active {
        color: $promoted-item;
      }

      h3 {
        display: inline;
        white-space: nowrap;
        transition: $transition-quick;
      }
    }

    &.thumbnailCell {
      line-height: 164px;

      .miniature {
        display: inline-block;
        width: 150px;
      }
      .imgWrapper {
        display: block;
        width: fit-content;
        margin: 0 auto;
        line-height: 150px;
      }

      img {
        display: inline-block;
        max-width: 150px;
        max-height: 150px;
        transition: $transition;

        &:hover {
          opacity: .8;
        }
      }
    }

    &.quantityCell {

      .quantityButton,
      .quantityInput {
        display: inline-block;
        height: 32px;
        width: 40px;
        min-width: 32px;
        padding: 0;
        margin: 0 auto;
        vertical-align: middle;
        text-align: center;
      }

      .quantityButton {
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
        padding-bottom: 3px;

        &:first-of-type {
          border-radius: 5px 0 0 5px;
        }

        &:last-of-type {
          border-radius: 0 5px 5px 0;
        }
      }

      .quantityInput {
        outline: none;
        margin: 0;
        padding: 0;
        border: none;
        border-top: 1px solid $text-secondary;
        border-bottom: 1px solid $text-secondary;
        transition: $transition-quick;
        -moz-appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &:focus {
          border: 1px solid $promoted-item;
        }
      }
    }

    &.priceCell {
      text-align: right;

      .pricesWrapper {
        line-height: 32px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
      }

      label {
        display: block;
        max-height: 50%;
        margin: 0;
      }

      .jointPrice {
        font-weight: 600;
        font-size: 20px;
      }

      .singlePrice {
        opacity: .7;
      }
    }
  }

  .cartItemContainer {
    position: relative;

    .removeCell {

      button {
        position: absolute;
        right: 50px;
        top: 73px;
        font-size: 24px;
        line-height: 24px;
        height: 24px;

        &:hover {
          color: $promoted-item;
        }

        &:active {
          color: $text;
        }
      }
    }
  }
}